.textos1 {
  font-weight: bold !important;
}

.imagem {
  background-image: url(/src/assets/img/Treehouse1_.webp);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
