.imagem2 {
    background-image: url(/src/assets/img/Treehouse1_.webp);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  textos2{
    font-weight: bold !important;
  }

  .botaoCancelar{
    margin-left: 20px !important;
  }